main {
    width: 100%;
    text-align: right;
  } 
  
#upvote{
    background: white;
    color: darkgreen;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    margin: 2px;
    border: 2px solid #444;
}

#downvote{
    background: white;
    color: darkgreen;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    margin: 2px;
    border: 2px solid #444;
}

.voteInfo{
    display: inline-block;

}