html *{
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1) !important;
  font-weight: 300;
  letter-spacing: .5px;
  font-family: 'Roboto', ;
}

body{
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.container{
  width: 375px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  top: 50px;
  background-blend-mode: multiply;
}



.sliderText {
  color: green;
  font-size: 24px;

}

.styles_closeButton__20ID4 {
  display: hidden;
}