html *{
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1) !important;
  font-weight: 300;
  letter-spacing: .5px;
  font-family: 'Roboto', ;
}

body{
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.container{
  width: 375px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  top: 50px;
  background-blend-mode: multiply;
}

.layer{
  position: absolute;
  height: 100%;
  width: 100%;
}

.layer-1{
  height: 100%;
}

.layer-2{
  transition-delay: .3s;
  padding: 30px;
  background-blend-mode: multiply;
}

.material-icons{
  padding: 15px;
}

.material-icons.right{
  padding: 0;
  color: #d6d6d6;
}

.card {
  margin-top: 135px;
  margin-left: 1rem;
  margin-right: 1rem;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  background-blend-mode: multiply,multiply;
}

.card-close {
  position: absolute;
  z-index: 500;
  right: 0;
  color: white;
  cursor: pointer;
}

.card.fullscreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
}

.card.fullscreen .card-image {
  margin-top: 0 !important;
  border-radius: 0 !important;
}

.card.fullscreen .card-image img {
  min-height: 150px;
  max-height: 200px;
  border-radius: 0 !important;
}

.card.fullscreen .card-action {
  display: none;
}

.card-action {
  text-align: left;
  overflow: hidden;
}

.card-content {
  height: 0;
  padding: 0 !important;
}

.card.active .card-action, .card.active .card-content {
  height: inherit;
  padding: 20px !important;
}

.card-image {
  border-radius: 5px !important;
  height: 225px;
}

.card.active .card-image {
  margin-left: 20px;
  margin-right: 20px;
}

.card-image img {
  border-radius: 5px !important;
  top: 0 !important;
  min-height: 300px;
  position: absolute !important;
  z-index: 10;
}

.card.active .card-image img, .card.active .card-image .card-title {
  top: -75px !important;
}

.card-image .card-title {
  top: 0;
  width: 100%;
  text-shadow: 0px 2px 5px rgba(150, 150, 150, 1);
  font-size: 20px;
  font-weight: 400;
  z-index: 15;
}

.image-loading {
  background: transparent;
  width: 100%;
  height: 100%;
  min-height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 100px;
  border-radius: 5px;
}

.avatars {
  display: inline-block;
}

.avatars .avatar:not(:first-child) {
  margin-left: -15px;
}

.avatar {
  display: inline-block;
}

.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1.5px solid white;
}

.comments {
  border: none;
  margin: 0;
}

.comment-item {
  padding: 0 !important;
  margin: 0;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0 15px 0 15px;
  border-top: 1px solid #e2e2e2;
}

.comment-header .chip {
  width: 170px;
}


.comment-icon {
  padding: 15px !important;
  font-size: 18px
}

.logo {
height: 100px;
width: 140px;
margin: 10px;

}

